::-webkit-scrollbar{
    width:8px
}

::-webkit-scrollbar-track{
    background: #000000;
}

::-webkit-scrollbar-thumb{
    background: #305252;
    border-radius: 4px;
}

header {
    position: sticky;
    z-index: 3;
    top: 0;
    display: flex;
    width: calc(100%);
    color: black;
    justify-content: space-between;
    align-items: center;
    left : 0;
    right: 0;
    padding: 10px 0px 10px 0px;
    transition: box-shadow 1s;
    background-color: #00000000;
}

body{
    margin: 0;
    padding: 0;
}

.navbar{
    font-family: Poppins;
    text-align: right;
    align-self: flex-end;
    display: flex;
    gap: 30px;
    margin-right: 30px;
    height:30px
}

.navbar-list-a{
    color: black;
    text-decoration: none;
}

.navbar-list a:hover{
    border-bottom: solid #305252 3px;
    text-decoration: none;
}

main{
    font-family: Poppins;
    background-color: #FFFFFF;
}

.links-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    
}

.links-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-bottom: solid #305252 2px;
    padding-bottom: 8px;
}

.links-card:hover{
    border-bottom: solid white 2px;
}

.links-card a{
    filter: invert(100%);
}

.links-card-text{
    color: white;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}

.sec{
    padding: 10px 150px 40px 150px;
}

.sec h2{
    justify-self: center;
}

.cont{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#hero{
    padding: 50px 30px 0px 30px;
    margin: 0;
    display: flex;
}


.hero-im{
    display: flex;
    justify-content: flex-end;
}

.cont-hero img{
    height: 500px;
    flex: 2;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
}
.hero-div{
    text-align: left;
}

#hero-name{
    font-size: 40px;
    font-weight: 900;
    color: #305252;
}

#hero-title{
    font-size: 20px;
    font-weight: 500;
}

#links{
    background-color: #305252;
    color: white
}

.hor-card{
    border-radius: 20px;
    background-color: #77878B;
    display: flex;
    gap: 10px;
}

.hor-card-label{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #373E40;
    color:white;
    border-radius: 20px 0px 0px 20px;
    flex: 1;
    
}

.hor-card-label-title{
    font-size: 20px;
    font-weight: 900;
}

.hor-card-cont-title{
    font-size: 20px;
    font-weight: 900;
}

.hor-card-cont{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
}

.hor-card-cont div{
    padding: 0;
}

.grid-cont{
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.grid-card{
    background-color: #373E40;
    color: white;
    width: 250px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border: solid #373E40 0.5px;
}

.grid-card:hover{
    background-color: #77878B;
}

.grid-card-im{
    flex-grow: 7;
    text-decoration: none;
    background-color: #77878B;
    border-radius: 20px 20px 0px 0px;
}

.grid-card-title{
    flex-grow: 1;
    padding: 20px;
    font-size: 12px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
}

.grid-card-pub{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #305252;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 30px 0px 30px;
    text-decoration: none;
}

#controlnet-im{
    background-image:url("./assets/controlnet.png");
}

#hypnos-im{
    background-image:url("./assets/hypnos.png");
}

#coloru-im{
    background-image:url("./assets/coloru.png");
}

#cyberbully-im{
    background-image:url("./assets/cyberbully.png");
}

